= link "Add award", to: award_path(@conn, :new)

%table.table
  %thead
    %tr
      %th Award
      %th Position
      %th &nbsp;
      %th &nbsp;
  %tbody
    = for award <- @awards do
      %tr
        %td= link award.title |> Earmark.to_html |> raw, to: award_path(@conn, :edit, award)
        %td= award.position
        %td
          = if award.position < LaurenHallWriting.Award.last_position do
            = link to: award_path(@conn, :update, award, award: [direction: :down]), method: :patch do
              %i.fa.fa-caret-up
            - end
          - end
        %td
          = if award.position > 1 do
            = link to: award_path(@conn, :update, award, award: [direction: :up]), method: :patch do
              %i.fa.fa-caret-down
            - end
          - end
    - end
